body{
    background-color: #8e9aaf;
}

h1{
    font-family: 'Quicksand', sans-serif;;
}

.sobre-mim{
    font-style:italic;
}

.ingles{
    font-size: 20px;
    padding-bottom: 10px;
}

.comunicativa{
    font-size: 19px;
    padding-bottom: 10px;
}

.atencao{
    font-size: 18px;
    padding-bottom: 10px;
}

.trab-equipe{
    font-size: 17px;
    padding-bottom: 10px;
}

