body{
    background-color: #8e9aaf;
    margin: 30px 60px;
}

h1{
    font-family: 'Quicksand', sans-serif;;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 50px;
    font-size: 50px;
    color: #FEEAFA;
}

.sobre-mim p{ 
    font-style:italic;
}

.ingles{
    font-size: 20px;
    padding-bottom: 10px;
}

.comunicativa{
    font-size: 19px;
    padding-bottom: 10px;
}

.atencao{
    font-size: 18px;
    padding-bottom: 10px;
}

.trab-equipe{
    font-size: 17px;
    padding-bottom: 10px;
}

img{
    border-radius: 10%;
    float: left;
    margin-left: 200px;
    width: 300px;
}

.habilidades{
    margin-top: 20px;
}

.habilidades, .sobre-mim{
    margin-left: 600px;
    background-color: #EFD3D7;
    width: 500px;
    padding: 5px 20px;
    border-radius: 30px;
    text-align: center;
    color: #8E9AAF;
}

ul{
    list-style: none;
}

.navegação a{
    padding-right: 30px;
}

.navegação{
    background-color: #CBC0D3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

